---
import { getCollection, CollectionEntry } from 'astro:content';
import { slugify, formatBlogPosts } from '../../js/utils';

import MainLayout from "../../layouts/MainLayout.astro";


const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts)

const allCategories = [
	... new Set( formattedPosts.map((post) => post.data.category )
)]

const CategoriesLinks = allCategories.map((category) => slugify(category))
---

<MainLayout title="Categories">
	<h1 class="h2">List of Categories:</h1>
	<ul style="margin-top: 20px;">
	{
		allCategories.map((category, i) => <li>
			<a href={CategoriesLinks[i]}>{category}</a>
		</li>)
	}
	</ul>
</MainLayout>
