---
import { Icon } from 'astro-icon';

import navData from '../data/navData';
---

<nav aria-label="Primary">
	<div class="navbar">
		<a href="/" aria-label="Go home" class="logomark">
			<Icon name="logomark" width="60" />
		</a>
		<ul>
		{
			navData.map((item) => <a href={item.path}>{item.name}</a>)
		}
		</ul>
	</div>
</nav>

<style>
[aria-label="Primary"] {
	width: 100%;
	padding-block: var(--space-xs);
	background-color: hsl(var(--muted));
	box-shadow: var(--shadow-sm);

	& ul {
		display: flex;
		gap: var(--space-sm);
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1500px;
	margin-inline: auto;
	padding-inline: var(--space-md);
}

.logomark {
	display: grid;
	place-items: center;
	padding: var(--space-2xs);
}

[aria-label="Blog pages"] {
	display: flex;
	gap: var(--space-sm);
	justify-content: center;
}
</style>